body {
  color: #f38989;  
}

.dark-mode {
  background-color: #ffa500;
  color: #ffa500;
}
.img {
  align: right:
}
 .dark-mode{
  background-color: #000000;
  color: #FFA500;
  }
  .button { 
    padding: 15px 15px;
    font-size: 50px;
    margin-top: 40px;
    border: dotted;
    cursor: pointer;
    border-radius: 40px;
}
